    /*CSS
    Web o pagina: Proyecto Final 1º DAM
    Autor: Mª Carmen Arias de Haro
    Fecha: Junio 2021
    */
    
    @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=New+Tegomin&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: gainsboro;
        background-image: url("../media/fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .marco {
        display: grid;
        grid-template-areas: 
            "encabezado encabezado encabezado encabezado"
            "menu menu menu menu"
            "contenido contenido contenido contenido";
        height: 100vh;
    }
    
    .encabezado {
        grid-area: encabezado;
        border-style: none;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        height: auto;
    }
    
    header nav {
        z-index: 1000;
    }
    
    .logo {
        margin: auto;
        width: 200px;
        height: auto;
        margin-left: 37%;
    }
    
    .hoja {
        float: right;
        margin-top: 10px;
        margin-right: 20px;
        padding: 0;
        width: 125px;
        height: auto;
    }
    
    .hoja:hover {
        transform: scale(1.3);
    }
    
    .menu_bar,
    .menuResponsive,
    .darkModeSwitchResponsive,
    .hojaResponsive {
        display: none;
    }
    
    .logo2 {
        width: 25%;
        height: auto;
        margin: 3% 35%;
        animation-name: animacion2;
        animation-duration: 3s;
    }
    
    .menu {
        grid-area: menu;
        background-color: #FFCE29;
        border-radius: 20px;
    }

    .menu > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    .menu a {
        display: block;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 10px;
        font-size: 20px;
        font-family: 'Londrina Solid', cursive;
        color: black;
        text-align: center;
        padding: 14px 16px;
        font-weight: bolder;
        text-decoration: none;
        transition: all .3s;
    }
    
    .menu a:hover {
        background-color: white;
        border-radius: 15px;
        height: 100%;
        color: #C75A00;
        font-size: 1.5em;
        padding: 11px 13px;
    }
    
    .activo {
        background-color: white;
        border-radius: 15px;
        height: 100%;
    }
    
    .contenido {
        grid-area: contenido;
        padding: 3%;
        border-style: hidden;
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        background-color: #C0F0E9;
        border-radius: 20px;
        text-align: justify;
        line-height: 1.5em;
        opacity: 0.98;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    h2 {
        font-family: 'Acme', sans-serif;
        font-size: 26px;
        font-weight: bolder;
        color: rgb(255, 62, 4);
    }
    
    p {
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'Acme', sans-serif;
        font-size: 15px;
    }
    
    .contenido-personajes {
        /*EFECTO FLIP PARA LAS IMÁGENES DE PERSONAJES*/
        display: flex;
        flex-wrap: wrap;
        /*Con esta propiedad los elementos se cambian de línea si ya no caben horizontalmente*/
    }
    
    .flip-image {
        width: 200px;
        height: 329px;
    }
    
    .flip-box {
        background-color: transparent;
        width: 200px;
        height: 329px;
        perspective: 1000px;
        margin: 0 5%;
    }
    
    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-inner {
        /*Estamos realizando un flip horizontal al pasar el ratón por encima de la imagen*/
        transform: rotateY(180deg);
    }
    
    .flip-box-front,
    .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }
    
    .flip-box-front {
        /*Definimos el estilo de la parte frontal de la imagen con flip*/
        background-color: transparent;
        color: black;
    }
    
    .flip-box-back {
        /*Definimos el estilo de la parte de atrás de la imagen con flip*/
        align-items: center;
        padding: 5%;
        background-color: rgb(253, 181, 122);
        color: black;
        transform: rotateY(180deg);
        border-radius: 15px;
    }
    
    .darkModeSwitch {
        /*CSS del modo noche*/
        background: #3494b1;
        cursor: pointer;
        display: inline-flex;
        position: relative;
        outline: none;
        padding: 3px;
        border: none;
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
    }
    
    .darkModeSwitch span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        color: #fff;
        background: none;
    }
    
    .darkModeSwitch::after {
        display: block;
        background: #fffbf5;
        width: 2.3rem;
        height: 2.3rem;
        position: absolute;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 3rem;
        transition: all .5s ease;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
        content: "";
    }
    
    .darkModeSwitch.active {
        background: #fdd384;
    }
    
    .darkModeSwitch.active::after {
        left: unset;
        right: 0;
    }
    
    body.dark {
        background-color: darkslategrey;
        background-image: none;
    }
    
    body.dark .contenido {
        background-color: #2f7e72;
        color: #dddbdb;
    }
    
    body.dark .menu {
        background-color: rgb(28, 73, 73);
    }
    
    body.dark .menu a:hover {
        background-color: #828282;
        color: black;
    }
    
    body.dark .activo {
        background-color: #828282;
    }
    
    body.dark .flip-box-back {
        background-color: #022935;
        color: #C0F0E9;
    }
    
    body.dark h2 {
        color: white;
    }
    
    body.dark .menu,
    body.dark .menuResponsive,
    body.dark .menu_bar {
        background-color: rgb(28, 73, 73);
    }
    
    @media only screen and (max-width: 640px) {
        @keyframes animacion2 {
            from {
                margin-left: -100%;
            }
            to {
                margin-left: 30%;
            }
        }
        .marco {
            grid-template-rows: 193px 0px auto 0px;
        }
        header nav {
            width: 80%;
            height: 100%;
            margin: 0;
            position: fixed;
        }
        .menuResponsive {
            display: block;
            overflow: hidden;
            height: 100%;
            left: -100%;
            width: 60%;
            text-align: center;
            background-color: #FFCE29;
            border-radius: 10px;
        }
        .menuResponsive ul {
            list-style: none;
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .menuResponsive ul li {
            margin: 10px;
            display: inline-block;
            position: relative;
        }
        .menuResponsive ul li a {
            display: block;
            font-size: 20px;
            font-family: 'Londrina Solid', cursive;
            color: black;
            text-align: center;
            padding: 14px 16px;
            font-weight: bolder;
            text-decoration: none;
        }
        .menuResponsive ul li a:hover {
            background-color: white;
            border-radius: 15px;
            height: 100%;
            color: #C75A00;
            font-size: 1.5em;
            padding: 11px 13px;
        }
        .menuResponsive ul li {
            display: block;
            float: none;
        }
        .menu_bar {
            display: block;
            width: 20%;
            position: static;
            background: #FFCE29;
            border-radius: 10px;
        }
        .menu_bar .bt-menu {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
        .menu_bar a {
            text-decoration: none;
            font-size: 20px;
            font-family: 'Londrina Solid', cursive;
            color: black;
            text-align: center;
            font-weight: bolder;
        }
        .logo {
            margin: auto;
            width: 200px;
            height: auto;
            margin-left: 30%;
        }
        .contenido {
            overflow-y: scroll;
            padding: 2%;
            border-style: solid;
            border-color: rgb(172, 179, 243);
            background-color: #C0F0E9;
            border-radius: 20px;
            grid-column: 1 / span 2;
            width: 100%;
        }
        .menu {
            visibility: hidden;
        }
        .contenido-personajes {
            padding: 0 20%;
        }
        .flip-box {
            margin-bottom: 15%;
            margin-right: 0;
        }
        .flip-boxH {
            margin-bottom: 15%;
            margin-right: 0;
        }
        .darkModeSwitch,
        .hoja {
            display: none;
        }
        .darkModeSwitchResponsive {
            background: #3494b1;
            cursor: pointer;
            display: inline-flex;
            position: relative;
            outline: none;
            padding: 3px;
            border: none;
            border-radius: 15px;
            align-items: center;
            justify-content: space-between;
        }
        .darkModeSwitchResponsive span {
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            color: #fff;
            background: none;
        }
        .darkModeSwitchResponsive::after {
            display: block;
            background: #fffbf5;
            width: 2.3rem;
            height: 2.3rem;
            position: absolute;
            top: 0;
            left: 0;
            right: unset;
            border-radius: 3rem;
            transition: all .5s ease;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
            content: "";
        }
        .darkModeSwitchResponsive.active {
            background: #fdd384;
        }
        .darkModeSwitchResponsive.active::after {
            left: unset;
            right: 0;
        }
    }